
*{
    margin: 0;
    padding:0;
    border:0;
}
body{
    background-image: url(/images/tic-tac-toe.png);
    display: flex;
    justify-items: center;

}

.container{
    background-color: #7CAFC4;
    margin: 0 auto;
    padding-top: 10px;
    width: 900px;
    height: 800px;
}
.game-title{
    text-align: center;
    color: #021932;
    font-family: 'staatliches', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.username{
    font-family: 'staatliches', sans-serif;
    color:#021932;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;

}
#username{
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#5995ED;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    color: white;
}
#play-btn{
    color: black;
    padding: 5px 5px;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    background-color: #FCFF4B;
    border-radius: 6px;

}
#play-btn:hover{
  
  background-color:#FFAD05;
  color: black;
}

.scoreboard{
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
   
}

.user-score{
    color: white;
    border-radius: 10px;
    padding-top:30px;
    margin-right: 20px;
    width: 200px;
    height: 150px;
    background-color: #0a3f85;
  
}
.comp-score{
    color: white;
    border-radius: 10px;
    padding-top:30px;
    width: 200px;
    height: 150px;
    background-color: #0a3f85;
}
.results-bar{
    height: 115px; 
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #0a3f85;
   
}
 p {
    color: white;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
}

.game-tokens button{
    background-color: #FCFF4B;
    border-radius: 55px;
    display: block;
    float: left;
    padding: 24px 28px;
    margin-top: 20px;
    margin-left: 10%;
}
.game-tokens button:hover{
   background-color: #FFAD05;
    
}
button img{
    width: 50px;
}

.play-again button{
    margin-top: 40px;
    margin-left: 400px;
    color: black;
    padding: 5px 5px;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    background-color: #FCFF4B;
    border-radius: 6px;

}
.play-again button:hover{
  background-color:#FFAD05;
}